<!-- <div class="menu-wrapper">
  <ul class="menu-items">
    <li class="menu-item mb-1 ml-1 w-25" style="background-color: rgb(240, 236, 103); color: rgb(139, 139, 209);"> Math</li>
    <li class="menu-item mb-1 ml-1 w-50" style="background-color: rgb(140, 127, 245); color: rgb(90, 90, 88); border: 2px solid gray"> English</li>
    <li class="menu-item mb-1 ml-1 w-75" style="background-color: rgb(72, 124, 145); color: rgb(104, 187, 136)"> Math</li>
    <li class="menu-item mb-1 ml-1 w-50" style="background-color: rgb(85, 46, 67); color: white;">Biology</li>
    <li class="menu-item mb-1 ml-1 w-100" style="background-color: rgb(181, 235, 238); color: rgb(41, 29, 8)"> Angular</li>
    <li class="menu-item mb-1 ml-1 w-75" style="background-color: rgb(113, 137, 190); color: rgb(29, 25, 25);">Javascript</li>
    <li class="menu-item mb-1 ml-1 w-75" style="background-color: rgb(128, 150, 84);"> Web design</li>
    <li class="menu-item mb-1 ml-1 w-50" style="background-color: rgb(202, 129, 32); color: yellow"> PHP</li>
    <li class="menu-item mb-1 ml-1 w-75" style="background-color: rgb(63, 155, 109)n; color: rgb(98, 214, 45)"> Photoshop</li>
    <li class="menu-item mb-1 ml-1 w-50" style="background-color: rgb(143, 49, 99); color: white;">Drawing</li>
    <li class="menu-item mb-1 ml-1 w-100" style="background-color: rgb(233, 196, 206); color: rgb(95, 77, 43)"> Chemistry</li>
    <li class="menu-item mb-1 ml-1 w-75" style="background-color: rgb(97, 104, 77); color: rgb(29, 25, 25);">Bulgarian</li>
  </ul>
</div> -->

<!-- <div class="menu-wrapper">
  <ul class="menu-items">
    <li class="menu-item mb-2 ml-2">
      <a routerLink="/users/list">Users</a>
    </li>
    <li class="menu-item mb-2 ml-2">
      Tasks
    </li>
  </ul>
</div> -->
