h1, #info{
    color: white;;
    text-align: center;
}
#info, h1{
    margin-left: 20%;
    margin-right: 40%;
    background-color: black;
    opacity: 0.8;
    border-radius: 10%;
    padding: 20px;
}

/* .row{
    background: url("learning-3245792_1920.jpg");
} */